

.navbar{
    width: 100%;
    position: fixed;
    background-color: black;
  
}
.photo{
    height: 500px;
    position: relative;
    left: 800px;
}
.info{
    position: relative;
    bottom: 400px;
    margin-left: 55px;
    
}
.icons {
    position: relative;
    bottom: 350px;
    margin-left: 55px;
    
}
/* resume */
.resume{
    text-align: center;
}

/* contact */
.contact{
    text-align: center;
}
.contact_form{
    text-align: center;
}
.form{
    width: 400px;
   margin: 10px;

}
.form_textarea{
    width: 402px;
    height: 80px;
}